[Unit]
Description=Icecast2

[Service]
Type=forking
ExecStart=/usr/bin/icecast.sh start
ExecStop=/usr/bin/icecast.sh stop

[Install]
WantedBy=multi-user.target
